header {
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    color: white;
    background-color: orange;
}

footer {
    width: 100%;
    padding: 20px;
    margin-top: 30px;
    color: white;
    background-color: orange;
}

table th {
    background-color: #fbc25b;
    padding: 10px 20px;
}

table td {
    background-color: #f9ecd5;
    padding: 10px 20px;
}